@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,800&family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,800&family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500;6..12,800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






:root{
    --details-text-size:17px;
    --font-header-size:48px;
    --font-default-size:20px;
    --font-default-size-2:24px;
    --main-color-:#F56411;
    --footer-header-text-color:white;
    --footer-text-color:white;
    --footer-bg-color:#252525;
    --footer-link-size:16px;
    --header-button-size:13px;
    --footer-copyrights-size:16px;
    --footer-icon-size:15px;
    --footer-header-text-size:20px;
    --poppins-font-family:'Poppins', sans-serif;
    --Nunito-sans-font:'Nunito Sans', sans-serif;
}


    body{
        display: flex;
        flex-direction: column;
    background-color: #eeeeee;
}
button{
    border: none;
}





header{
    position: fixed;
    top: 0;
    width: 100%;
}

.info_svg{
    fill: var(--main-color-);   
}
.nav, .info, .nav_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.info p{
    color: white;
}
.nav:first-of-type{
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
 padding: 3px 0px;
}
.nav_top{
    gap: 1rem;
}
.nav:last-of-type{
    padding: 0px 2rem ;
}
.nav_top{
    transform: translateY(2px);
    
    padding: 0px 4px;
    
    border-right:#D9D9D9 2px solid;
    ;
}
.info
{
    font-size: var(--header-button-size);
    font-weight: 700;
    gap: 0.5rem;
    padding: 0px 10px;
}
.info:first-of-type{
    border-right:#D9D9D9 2px solid;
}
.info:last-of-type{
    border-left:#D9D9D9 2px solid;
}
.twitter_link{
    border-left:#D9D9D9 2px solid;
}
.nav_links{
    display: flex;
    gap: 1.5rem;
}
.nav_links a{
   font-size: var(--footer-link-size);
   font-weight: 700;
   font-family: var(--poppins-font-family);
   text-transform: capitalize;
   color:  #ffffff;
}

.nav_top:last-of-type{
    border-right:none;
    border-left:#D9D9D9 2px solid;
    
}
.active_link{
    font-weight: 900;
    color:#F56411 !important;
}

.fixed-nav {
    left: 0;
    background: rgba(0, 0, 0,0.5);
    
  }


.get_started_button{


}

.radial_btn{
    text-transform: capitalize;
    width:  132px;
    height:  47px;
    padding: 6px 22px;
    color: #FFF;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.52px;
    background: var(--pri-sec-odd, linear-gradient(170deg, #FF792B 0%, #FF792B 31.56%, #ae4b2f 100%));
box-shadow: 10px 41px 80px 8px rgba(202, 202, 202, 0.77);
color: #ffffff;
}




.about_landing{
    background:  no-repeat url(./images/about_background.png)  rgba(23, 23, 23, 0.13);
    background-size: cover;
    height:  28rem;
    width: 100%;
}
.about_landing > div{
    background-color: rgba(0, 0, 0, 0.3) ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about_landing h2{
    font-family: var(--Nunito-sans-font);
    color: white;
    font-size: 3rem;
 
}




.container{
    margin-top: 4rem;
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    /* width: 80%; */
    align-items: center;
    /* justify-content: center; */
    gap: 5%;
    padding:0px 3.5rem ;
    background: transparent;
}
.text{
    width: 50%;
}
.text h1{
    color: orangered;
    text-transform: uppercase;
    font-family: var(--poppins-font-family);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.text p{ 
    font-family: "Nunito Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    
}
.image{
    width: 50%;
}
.image > img{
    width: 100%;
}
.what_we_do{
    flex-direction: row-reverse;
    
    margin-bottom: 0px;
    
}
.smaller_text{
    font-size:  1.5rem !important;
}


















/* footer */

footer{
position: relative;
  gap: 4rem;  
 background-color: var(--footer-bg-color);
 font-family: var(--poppins-font-family);
    color: var(--footer-text-color);
    height: 529px;
    width: 100%;
    display: flex !important ;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 3rem;
}
footer a{
    text-decoration: none;    
    color: var(--footer-text-color);
}

.footer_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-top{
    display: flex;
    flex-direction: column;
}
.footer__div_top{
    height: 50%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.footer_div:first-child{
    height: 50%;
}
.footer-links{
    transform: translateY(-50px);
}
.inner{
    display: flex;
}
.links{
    gap: 1rem;
}
.links a{
    font-size: var(--footer-link-size);
    text-transform: capitalize;
    font-weight: bold;
}
.socials{
    gap:1rem;
    
}
.footer_details{
    flex-direction: column;
    gap: 1.5rem;
    width: 20%;
}
.footer_details_header{
    text-transform: capitalize;
    height: 20%;
    font-weight: bold;
    font-size: var(--footer-header-text-size);
}
.footer_details_text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    text-transform: capitalize;

}
.slogan{
    font-size: var(--font-default-size-2);
    flex-direction: column;
    font-weight: bold;
    padding-right: 3rem;
}
.inner p{
    font-weight: bold;
    font-size: var(--footer-copyrights-size);
}
.footer_svg{
    width: var(--footer-icon-size);
}
