@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --footer-header-text-size:20px;
    --footer-details-text-size:17px;
    --footer-header-text-color:white;
    --footer-text-color:white;
    --footer-bg-color:#252525;
    --footer-link-size:16px;
    --footer-slogan-size:24px;
    --footer-copyrights-size:16px;
    --footer-icon-size:15px;
    --footer-font--family--:'Poppins', sans-serif;
}

/* slider */

body{
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    width: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;

}
.swiper{
    /* width: 80%;
    height: fit-content; */
    overflow: hidden;
    position: relative;
    height: 100vh;
    transition: transform 0.3s ease-in-out;

}
.swiper-slide img{
    width: 100%;
    filter: brightness(70%)
}
.arrow {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    border: 1px solid #fff;
    padding: 2px 10px;
    border-radius: 50%;
}
  
.swipers-button-prev {
    left: 0;
    margin-left: 2rem;
}
  
.swipers-button-next {
    right: 0;
    margin-right: 2rem;
}


.text-box{
    /* width: 600px; */
    position: absolute;
    top: 50px;
    color: #fff;
    /* padding-left: 700px; */
    z-index: 1;

}

.text-box h1{
    font-weight: 700;
    text-align: left;
    font-size: 36px;
    line-height: 127.5%;
    letter-spacing: -4%;
    padding-left: 2.5rem;
}

.text-box-links{
    right: 0;
    margin-right: 2.5rem;
}
.text-box ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
}

.text-box ul li{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -4%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.text-box ul li span{
    color: #f56411;
    margin-left: 2rem;
    font-size: 30px;
    
}

/* footer */

footer{
  /* THOMAS  */
position: relative;
/* display: grid; */

  /* grid-template-columns: repeat(auto-fit, minmax(200px, auto)); */

  gap: 4rem;
 
  
  left: 0;
  right: 0;
  bottom: 0;
 /* THOMAS  */
    background-color: var(--footer-bg-color);
    font-family: var(--footer-font--family--);
    color: var(--footer-text-color);
    
}
footer a{
    text-decoration: none;    
    color: var(--footer-text-color);
}

.footer_div{
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
}
.inner{
    display: flex;
}
.links{
    gap: 1rem;
}
.links a{
    font-size: var(--footer-link-size);
    text-transform: capitalize;
    font-weight: bold;
}
.socials{
    gap:1rem;
    
}
.footer_details{
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    width: 20%;
}
.footer_details_header{
    text-transform: capitalize;
    font-weight: bold;
    font-size: var(--footer-header-text-size);
}
.footer_details_text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.slogan{
    font-size: var(--footer-slogan-size);
    flex-direction: column;
    font-weight: bold;
}
.inner p{
    font-weight: bold;
    font-size: var(--footer-copyrights-size);
}
.footer_svg{
    width: var(--footer-icon-size);
}
